@import url('https://fonts.googleapis.com/css2?family=playfair+Ddisplay:wght@400;500;600;700;800;900&display=swap');
:root{
    --transition: all0.7s ease;
    --yellow: #f9d342;
    --dark:#292826;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin:0%;
    font-family: 'Playfair Display', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
}
.btn{
    background-color: #f9d342;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    opacity: 0.85;
}
.head-bottom-flex {
    display: flex;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    width: 100%;
    display: block;
}
img{
    width: 100%;
    display: inline;
    
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}

/* header*/
.header{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("bed5.png") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top span{
cursor: pointer;
letter-spacing: 2px;
transition: var(--transition);
font-size: 20;
}
.head-top span:hover{
    color: #f9d342;
}
.head-bottom-flex{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin-bottom: 100px;
    justify-content: center;
}

.head-bottom-flex h2{
    padding: 22px 0;
    font-size: 100;
    border-bottom: 1px solid #fff;
}
.head-bottom-flex p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);

}
.head-btn:hover{
    background: transparent;
}
@media(width:500px){
    .head-btn{
        font-size: 17px;
    }
}
.head-bottom-flex h2{
    font-size: 40px;
}
.head-bottom-flex p{
    font-size: 25px;
    margin: 20px auto;
}

/*side nav*/
.sidenav{
    background: var(--dark);
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    /*right: -100;*/
    right: 0;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

/************/
.sidenav.show{
    right: 0;
}
/************/
.cancel.btn{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
}
.cancel.btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.navbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}
.sign-up, .log-in{
    background: var(--yellow);
    color: #fff;
}
@media(max-width: 400px){
    .sidenav{
        width:  100vw;
    }
}

/*title */
.title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: #f9d342;
    border-bottom: 5px solid var(--dark);
    width: 235px;
    margin: 15px 0;
}

.sec-width{
    width: 85vw;
    margin: 0 auto!important;
}

/*service*/
.services{
    margin: 40px 0;
}
.service{
    display: flex;
    margin: 30px 0;
}
.service-icon{
    flex: 30%;
    align-self: flex-start;
    font-size: 48px;
    color: #252525;
}
.service-content{
    padding-right: 300px;
}
.service-content h2{
    opacity: 0.7;
}
.service-content button{
    margin-left: 0;
    margin-right: 0;
    background: var(--yellow);
    color: #fff;
}
@media(min-width: 992px){
    .services-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    
    }
}

/** booking form*/
.book{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("bed7..png") center/cover no-repeat;
    color: #fff;
    padding: 40px 60px; 
    margin: 0%;
}
.book-form{
    display: grid;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-form input[type= "submit"]{
    margin: 18px 0 0 0;
    background: var(--dark);
    color: #fff;
    border: 1px solid #fff;
}
.book-form label, .book-form input{
    width: 100%;
}
.book-form label{
    font-weight: 600;
    word-spacing: 5px;
    padding-bottom: 8px;
    
    
}
.book-form input:not(.btn){
    margin: 4px 00 16px 0;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    color: var(--dark);
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 117px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
        grid-gap: 24px;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* room */

.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: whitesmoke;
    columns: #fff;
}
.room-text{
    padding: 5px 20px;

}
.room-text{
    font-size: 24px;
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--yellow);
    margin-right: 10px;

}
.rate{
    opacity: 0.8;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}
.rate-image{
    overflow: hidden;
}
.room-image img{
    transition: var(--transition);
}
.room-image:hover img{
    transform: 0.5s easy-in;  
    
}
@media(min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap:wrap
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}

/* customers*/

.customers{
    margin-top: 40px;
    padding: 40px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("bed8.jpg") center/cover no-repeat fixed;

}
.customer{
    background: #fff;
    padding: 35px;
    text-align: center;
    margin: 24px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: var(--transition);
}
.rating{
    margin: 10px 0;
    color: #f9d342;
}
.customer h3{
    font-size: 25px;
}
.customer p{
    opacity: 0.7;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;

}
.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}
.customer span{
    font-weight: 700;
    opacity: 0.7;
}
.customer:hover{
    transform: translateY(-18px);
}
@media(min-width: 992px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}
@media(min-width: 1370px){
    .customers-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}
@media(max-width: 500px){
    .customer p{
        width: 100%;
        height: 100px;
    }
}

/*footer*/

.footer{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("bed7..png") center/cover no-repeat;
    color: #fff;
    text-align: center;
}
.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;

}
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}
.footer a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.social-icons{
list-style: none;
display: flex;
justify-content: center;
padding: 15px 0;
}
/*.social-icons li{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #2e2e2e;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}*/
.social-icons li{


    display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}
.social-icons li:hover{
    background: #fff;
    color: #2e2e2e;
}
.contact-item span{
    display: block;
}
@media(min-width: 900px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media(min-width: 1170px){
    .footer{
        text-align: left;
    }
    .footer-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container div:nth-child(1) p{
        padding-right: 20px;
    }
    .contact-item{
        display: contents;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}
#showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 5;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

  div.scrollmenu {
    background-color: #333333;
    overflow: auto;
    white-space: nowrap;
    padding-left: 1000px;
    border-radius: 100px;
    
  }


  /* Add a black background color to the top navigation */
  
.logo{
    color: #f9d342;
  }
.topnav {
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: 20px;
    position: fixed;
    width: 100%;
    min-height: 8vh;
    top: 0;
    display: flex;
    padding-right: 0%;
    align-items: center;
}
.topnav-right{
    padding-left: 40%;
    float:right;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #f9d342;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .rate-us{
    width: 50%;
    border-radius: 50%;
  }
  .navbar-inverse{
    margin: 0;
  }
.cancellation{
    margin: auto;
    padding-bottom: 15px;
    background: whitesmoke;
    columns: #fff;
    width: 60%;
  position: sticky;
  font-size: 24px;
  border-radius: 2rem;
}
.cancellation h3{
    font-size: 30px;
}
.terms{
    margin: auto;
    padding-bottom: 15px;
    background: whitesmoke;
    columns: #fff;
    width: 60%;
  position: sticky;
  font-size: 24px;
border-radius: 2rem;
}
.terms h3{
    font-size: 30px;
}